html, body{
  margin: 0;
  padding: 0;
  height: 100%;

  animation: fadeIn;
  animation-duration: 1s;
}

/*Cabecalho*/
header{
  background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2b40c5 100%);

  width: 100%;
  height: 13vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 100;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
.container{
  max-width: 100%;
}
.con.tainer-fluid{
  border: solid 2px blue
}
.c.ol{
  border: solid yellow 2px;
}
.icons_menu{
  height: auto;
  width: 1.1em;
  border-right: 1px solid white;
  margin-left: 1px;
}
.icons_menu_shot{
  height: auto;
  width: 1.2em;
  margin-left: 5px;
}
#logo{
  width: 25rem;
  height: auto;
  display: block;
  position: absolute;
  top: 2%;
}
#titulo{
    color: white;
    font-size: 5rem;
    text-align: center;
    width: 50%;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 1%;
    padding: 0;
}
/*Botao Tema*/
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223243;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #223243;
  box-shadow: inset 2px -2px 0 1.8px #fff;
  transition: .4s;
  animation: anima1 0.3s linear;
}

@keyframes anima1 {
  0% {
    transform: translateX(1.5em);
  }

  80% {
    transform: translateX(-0.3em);
  }

  100% {
    transform: translateX(0em);
  }
}

.switch input:checked + .slider:before {
  background-color: yellow;
  box-shadow: none;
  transform: translateX(1.5em);
  animation: anima 0.3s linear;
}

@keyframes anima {
  0% {
    transform: translateX(0px)
  }

  80% {
    transform: translateX(1.6em)
  }

  100% {
    transform: translateX(1.4em)
  }
}

/*Menu*/

#menu {
  z-index: 2;
  position: absolute;
  top:50%;
}

#menu-bar {
  width: 40px;
  height: 50px;
  margin: 0;
  padding-top: 5vh;
  cursor: pointer;
  text-align: end;
  position: absolute;
  right: 0;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.6s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
  text-align: end;

  margin: 0 0.5rem;
  
   animation: fadeInRight;
  animation-duration: 1s; 
  --animate-delay: 3s;
}

.nav ul {
  padding-top: 55px;

}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

#menu {
  top: 2%;
  right: 2%;
  position: absolute;
}

.menu-bg{
  position: absolute;
  top: 8%;
  left:95%;
}

@media (max-width: 710px){
  .menu-bg{
    position: absolute;
    top: 8%;
    left:95%;
  }
}
@media (max-width: 490px){
  .menu-bg{
    position: absolute;
    top: 8%;
    left:85%;
  }
}
@media (max-width: 490px){
  .menu-bg{
    position: absolute;
    top: 8%;
    left:73%;
  }
}
@media (max-width: 345px){
  .menu-bg{
    position: absolute;
    top: 8%;
    left:70%;
  }
}
/*Ocultar/Mostrar Menu*/
@media (min-width: 1099px){
  #menu{
    display: none;
  }
}

.nav02{
  display: flex;
  align-items: center;
}
.nav02 ul{
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  top: 4vh;
  right: 2%;
}
.item_menu {
  color: white;
  font-size: 3vh;
  display: inline-block;
  margin: 0 35px;
}
.txt_menu{
  position: relative;
  top: 3px;
  margin-left: 3px;
}
.item_menu:hover{
  color: yellow;
}
a:hover{
  text-decoration: none;
}

/*Ocultar/Mostrar Itens do Menu*/
@media (max-width:1098px){
  .nav02 ul{
    display: none;
  
  }
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 50px 0 20px 8px;
  background: radial-gradient(circle, rgb(25, 77, 247), rgb(25, 77, 247));
  border-radius: 5%;
  transition: 0.2s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}

footer{
  background-color: rgb(39, 39, 133);
  min-height: 15vh;
  width: 100%;
  clear: both;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-top: solid 1px white;
}
#tags_footer{
  margin-top: 20px;
}
.dev_tag{
  font-size: 13px;
  color: rgb(179, 179, 179);
}
.copy{
  color: white;
  margin-top: 20px;
  font-size: 13px;
}
#logo_footer{
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 12em;
  height: auto;
}
.top-footer{
  background-color: rgb(29, 29, 96);
}
.icons_rs{
  width: 35px;
  height: 35px;
}
.cols{
  border: solid yellow 2px;
}
.col_icons{
  margin-right: 10px;
}
.copy_bot{
  background-color: rgb(21, 21, 69);
}
.sub_text_flogo{
  color: white;
  font-size: 16px;
  margin-top: 30px;
}
.text_flogo{
  color: rgb(165, 170, 202);
  font-size: 13px;
}
.text_id{
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
.col_ftext{
  text-align: center;
}
.text_link a{
  color: rgb(165, 170, 202);
}
.text_link a:hover{
  color: white;
}
/*Cor o "Select" do site*/
::selection { 
  background: #32c18f; color: #fff; 
} 

::-moz-selection { 
  background: #32c18f; color: #fff; 
}

/* Media Query #logo #logo_footer */
@media (min-height: 931px){
  #logo{
    width: 23em;
    position: absolute;
    top:25%
  }
}
@media (max-width: 800px),(max-height: 930px){
  #logo{
    width: 23em;
    position: absolute;
    top:20%
  }
}
@media (max-width: 600px),(max-height: 780px){
  #logo{
    width: 17em;
    position: absolute;
    top: 30%;
  }
}
@media (max-width:390px),(max-height: 650px){
  #logo{
    width: 15em;
    position: absolute;
    top: 20%;
  }
}
@media (max-height: 480px){
  #logo{
    width: 12em;
    position: absolute;
    top: 10%;
  }
}
@media (max-height: 350px){
  #logo{
    width: 8em;
    position: absolute;
    top: 20%;
  }
}
@media (max-width: 575px){
  .col_logo_footer{
    display: flex;
    justify-content: center;
  }
  .col_sobre{
    margin-left: 7vw;
    text-align: center;
  }
}

/*Overlays das transicoes de paginas*/

/* Animations */

#overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.892); /* Cor preta com 50% de opacidade */
  z-index: 9999;
  padding-top: 25vh;

  animation: fadeIn; 
  animation-duration: 0.5s
  
}
#animate_over{
  width: 300px;
  height: 300px;
}
.animate{
  padding-bottom: 70px;
}
#animateAM{
  width: 250px;
  height: 250px;
}
.body_load{
  width: 90%;
}
.text_load{
  font-size: 25px;
  animation: fadeIn; 
  animation-duration: 1s;
  text-align: center;
}
@media(max-width:450px){
  .text_load{
    font-size: 20px;
  }
}
@media(max-height:550px){
  #overlay{
    padding-top: 0;
  }
  #animate_over, #animateAM{
    width: 200px;
    height: 200px;
    font-size: 15px;
  }
  .body_load{
    width: 97%;
  }
  
}
@media(max-width:350px){
  #animate_over{
    width: 200px;
    height: 200px;
    font-size: 15px;
  }
  .body_load{
    width: 100%;
  }
}
/* Alertas de mudanca de tema */
.alert{
  width: 80%;
  position: fixed;
  z-index: 999;
  bottom: 2%;
  left: 10%;
}
.alertIntro{
  animation: bounceInUp;
  animation-duration: 1s; 
}
.alertDisperse{
  animation: bounceOutDown;
  animation-duration: 1s; 
}
