a{
    text-decoration: none;
}

.container{
    max-width: 100%;
}
#sec01{
    padding-top: 13vh;
    background-image: url('../imgs/logo - opaco.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 90%;
}
#sub-1{
    text-align: left;
    font-size: clamp(2em,6vw,4em);
    
    color: white;
    

    display: inline-block;
    margin: 0 0.5rem;
  
    animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.bd-imgs{
    height: auto;
    width: 100%;
}
@media(max-width: 1000px){
    .bd-imgs{
        height: 100%;
        width: auto;
    }
}
.txt-slide, .subtxt-slide{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#TituloModalCentralizado, .modal-body{
    color: black;
}
#col_title{
    padding: 0;
}

#animation_obj, #img_sec03{
    width: 500px; 
    height: 300px;
    margin-top: 50px;
}
#anim_obj{
    width: 300px;
    height: 300px;
    margin-top: 50px;

}
.anim_sec02{
    width: 400px; 
    height: 400px;
}

@media(max-width: 768px){
    .col_img_sec{
        display: flex;
        justify-content: center;
    }
}
@media(max-width: 620px){
    #sec01{
        background-size: auto 90vw;
    }
}
@media(max-width: 600px){
    #animation_obj, #img_sec03{
    width: 400px; 
    height: 250px;
    }
}
@media (max-width: 520px) {
    #sub-1{
        text-align: center;
    }
    #anim_obj{
        width: 300px;
        height: 200px;
    }
    #animation_obj, #img_sec03{
        width: 300px; 
        height: 200px;
    }
    .anim_sec02{
        width: 300px; 
        height: 200px;
    }
}
@media (max-width: 400px) {
    #anim_obj{
        width: 250px;
        height: 150px;
    }
    .anim_sec02{
        width: 250px;
        height: 250px;
    }
    #animation_obj, #img_sec03{
        width: 230px; 
        height: 150px;
    }
}
@media (max-width: 300px) {
    #anim_obj{
        width: 200px;
        height: 200px;
    }
    .anim_sec02{
        width: 150px;
        height: 150px;
    }
    #animation_obj, #img_sec03{
        width: 220px; 
        height: 150px;
    }
}
@media (min-width: 1498px){
    #animation_obj{
        width: 500px;
        height: 500px;
    }
}


#coluna{
    margin: 20px;
    padding: 10px;
}
#row{
    margin: 0;
    padding: 0;
}
#carrossel{
    width: 50vw;
    height: auto;
}

#text{
    font-size: clamp(2em,3vw,4em);
    text-shadow: 0px 0px 2px #000000;
    border: solid 1px #090a0a;
    border-radius: 5px;
    background-color: #232631;

    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */
      
}
#mensagem{
    max-width: 97%;
    text-align: center;
}
@media (max-width:450px){
    #mensagem{
        margin-left: 0;
        
    }
}
.animated{
    background-color: rgb(249, 105, 105);
    border-radius: 5px;
    text-shadow: none;
    font-size: clamp(1em,2vw,3em);
}
.btn_sec02{
    display: flex;
    justify-content: end;
}
.txt_sec_body{
    margin-top: 15px;
}
.txt_aprend{
    background-image: linear-gradient(to right, rgb(79, 140, 255), rgb(79, 140, 255));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1.3s;
    border-radius: 10px;
    transition-delay: 0.7s;
}


@media (max-width: 639px){
    .lead{
        font-size:3vw;
    }
    .txt_aprend{
        border-radius: 5px;
    }
}
@media (max-width: 480px){
    .lead{
        font-size:15px;
        margin-left: 10px
    }
    .title_sec03{
        margin-left: 10px;
    }
}

@media(max-width: 767px){
    .botao_sec{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}
.btn_sec {
    display: inline-block;
    border-radius: 4px;
    background-color: #217dfd;
    background-image: linear-gradient(19deg, #217dfd 0%, #B721FF 100%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .btn_sec span {
    cursor: pointer;
    font-size: 110%;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .btn_sec span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .btn_sec:hover span {
    padding-right: 15px;
   }
   
   .btn_sec:hover span:after {
    opacity: 1;
    right: 0;
   }

/*CSS importado do Bootstrap*/
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  
  
  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
.border-section01{
    background: linear-gradient(to right, rgb(155, 93, 255), rgb(255, 131, 245));
    padding: 5px;
    border-radius: 10px;
    max-width: 98%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.border-section02{
    background: linear-gradient(to right, rgb(105, 255, 110), rgb(181, 184, 1));
    padding: 5px;
    border-radius: 10px;
    max-width: 98%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.border-section03{
    background: linear-gradient(to right, rgb(243, 116, 99), rgb(253, 255, 133));
    padding: 5px;
    border-radius: 10px;
    max-width: 98%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#sections_info{
    padding: 20px;
    border-radius: 10px;
  }
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }

  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
 
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
