html, body{
  margin: 0;
  padding: 0;
  height: 100%
}

/*Cabecalho*/

#cabecalho{
    background-color: rgb(105, 139, 249);
    text-align: center;
    width: auto;
    height: 13vh;
    margin: 0 auto;
    max-width: 100%;

}
#titulo{
    color: white;
    font-size: 3em;
    height: 13%;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 0;
    padding: 0;
}


@media (min-height: 750px){
  #titulo{
    font-size: 5em;
  }
  #menu{
    position: absolute;
    top: 2%;
  }
}
@media (max-width: 430px) and (min-height: 500px){
  #titulo{
    font-size: 3em;
    position: absolute;
    top: 1%;
  }
  #menu{
    position: absolute;
    top: 2%;
  }
}
@media (max-height: 460px){
  #titulo{
    font-size: 2em;
  }
}
@media (max-height: 310px){
  #titulo{
    font-size: 1.5em;
  }
}
@media (min-width: 570px){
  #menu{
    width: 5rem;
    height: auto;
  }
}
@media (max-width:380px){
  #titulo{
    font-size: 2.5em;
    position: absolute;
    top:3%;
    left: 4%
  }
}



  #rodape{
    background-color: rgb(105, 139, 249);
    width: auto;
    min-height: 15vh;
  }
  #copy{
    color: white;
    text-align: center;
  }