html, body{
  margin: 0;
  padding: 0;
  height: 100%
}

/*Cabecalho*/
#logo{
  width: 25rem;
  height: auto;
  display: block;
  position: absolute;
  top: 2%;
}
#cabecalho{
    background-color: rgb(105, 139, 249);
    width: auto;
    height: 13vh;
    margin: 0 auto;
    max-width: 100%;

}
#titulo{
    color: white;
    font-size: 5rem;
    text-align: center;
    width: 50%;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 1%;
    padding: 0;
}





#rodape{
  background-color: rgb(105, 139, 249);
  width: auto;
  min-height: 15vh;
}
#copy{
  color: white;
  text-align: center;
}
/* Media Query #logo */
@media (max-width: 800px),(max-height: 930px){
  #logo{
    width: 23em;
    position: absolute;
    top:2%
  }
}
@media (max-width: 600px),(max-height: 710px){
  #logo{
    width: 17em;
    position: absolute;
    top: 3%;
  }
}
@media (max-width:390px),(max-height: 580px){
  #logo{
    width: 15em;
    position: absolute;
    top: 2%;
  }
}
@media (max-height: 440px){
  #logo{
    width: 12em;
    position: absolute;
    top: 2%;
  }
}
@media (max-height: 350px){
  #logo{
    width: 8em;
    position: absolute;
    top: 2%;
  }
}