html, body{
  margin: 0;
  padding: 0;
  height: 100%
}

/*Cabecalho*/
#logo{
  width: 10rem;
  height: auto;
  display: block;
  position: absolute;
  top: 2%;
}
#cabecalho{
    background-color: rgb(105, 139, 249);
    width: auto;
    height: 13vh;
    margin: 0 auto;
    max-width: 100%;

}
#titulo{
    color: white;
    font-size: 5rem;
    text-align: center;
    width: 50%;
    font-family: 'Dosis', sans-serif;
    position: absolute;
    top: 1%;
    padding: 0;
}





#rodape{
  background-color: rgb(105, 139, 249);
  width: auto;
  min-height: 15vh;
}
#copy{
  color: white;
  text-align: center;
}

/*Media Query #titulo*/

@media (max-width: 800px),(max-height: 870px){
  #titulo{
    font-size: 4rem;
    position: absolute;
    top: 2%;
  }
}
@media (max-width: 750px),(max-height: 680px){
  #titulo{
    font-size: 3rem;
    position: absolute;
    top: 2%;
  }
}
@media (max-width: 430px),(max-height: 490px){
  #titulo{
    font-size: 2rem;
    position: absolute;
    top: 2%;
  }
}
@media (max-width: 300px),(max-height: 300px){
  #titulo{
    font-size: 1.5rem;
    position: absolute;
    top: 3%;
  }
}

/* Media Query #logo */
@media (max-width: 800px),(max-height: 930px){
  #logo{
    width: 8em;
    position: absolute;
    top:2%
  }
}
@media (max-width: 600px),(max-height: 710px){
  #logo{
    width: 6em;
    position: absolute;
    top: 3%;
  }
}
@media (max-width:390px),(max-height: 460px){
  #logo{
    width: 5em;
    position: absolute;
    top: 2%;
  }
}
@media (max-height: 370px){
  #logo{
    width: 4em;
    position: absolute;
    top: 2%;
  }
}