*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    background: rgb(238,174,202);
    background: -moz-linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
#sub-1{
    text-align: left;
    font-size: clamp(2em,6vw,4em);
    border: solid 2px palevioletred;
    color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #FFFFFF;
}
#animation{
    border: solid 2px green;
    width: 100vw;
    height: auto;
}
@media (max-width: 520px) {
    #sub-1{
        text-align: center;
    }
    #animation{
        width: 5vw;
    }
}



.container{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    max-width: 100%;
}
#coluna{
    margin: 20px;
    padding: 10px;
}
#row{
    margin: 0;
    padding: 0;
}
#carrossel{
    width: 50vw;
    height: auto;
}
