*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    background: rgb(238,174,202);
    background: -moz-linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: linear-gradient(0deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.container{
    
    max-width: 100%;
}
#sub-1{
    text-align: left;
    font-size: clamp(2em,6vw,4em);
    
    color: white;
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #FFFFFF;

    display: inline-block;
    margin: 0 0.5rem;
  
    animation: zoomInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
#card_geral{
    
    max-width: 95%;
    background-color: rgb(124, 107, 190);
    border-radius: 10px;
    margin-bottom: 20px;
}
#animation_obj{
    width: 300px; 
    height: 300px;

    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
}

@media (max-width: 520px) {
    #sub-1{
        text-align: center;
    }
}
@media (min-width: 1498px){
    #animation_obj{
        width: 500px;
        height: 500px;
    }
}

#coluna{
    margin: 20px;
    padding: 10px;
}
#row{
    margin: 0;
    padding: 0;
}
#carrossel{
    width: 50vw;
    height: auto;
}

#text{
    color: white;
    font-size: clamp(2em,3vw,4em);
    text-shadow: 1px 1px 4px #000000;
    border: solid 1px rgb(230, 51, 167);
    border-radius: 5px;

    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */
      
}
.animated{
    color: white;
    background-color: rgb(255, 79, 79);
    border-radius: 5px;
    text-shadow: none;
}
@msedia (max-width:516px){
    #text{
        text-align: center;
    }
}
