*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
#subs-1{
    text-align: center;
    font-size: clamp(1.5em,6vw,4em);
    position: absolute;
    top: 15%;
    left: 5%;
}

.container{
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    max-width: 100%;
}
#coluna{
    margin: 20px;
    padding: 0;
}
#row{
    margin: 0;
    padding: 0;
}