body{
    margin: 0;
    padding: 0;
    background-color: #373e55;
    color: white;
    transition: background-color 0.5s ease;
}
.span_game{
    color: white
}
.art-body{
    color: white;
    background-color: #252832;
}